@import "tailwindcss";
@import "tw-animate-css";

/* width */
.scrolling::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrolling::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.scrolling::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scrolling::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.scrolling-off::-webkit-scrollbar {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-right: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}